/* --------------------------------- 
   General Styles 
--------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
    scroll-behavior: smooth;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.down {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 2s;
}

.up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* --------------------------------- 
   Animations 
--------------------------------- */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contactMe {
    from {
        scale: 0.5;
    }
    to {
        scale: 1;
    }
}

/* --------------------------------- 
   Header Styles 
--------------------------------- */
.header {
    background: url('./img/fondo.jpg') no-repeat center center/cover;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 20px;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    animation: appear 0.5s linear;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero {
    position: relative;
    z-index: 2;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.title__hero {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 70px;
    line-height: 1.3;
    text-align: center;
}

.text__hero {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}

.subtitle__hero {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 40px;
    color: #FFD700;
    text-align: center;
}

.scroll-down {
    scroll-behavior: smooth;
    display: inline-block;
    color: #FFD700;
    font-size: 2.5rem;
    text-decoration: none;
    border-radius: 50%;
    padding: 15px;
    transition: color 0.3s, border-color 0.3s;
}

.scroll-down:hover {
    color: #fff;
    border-color: #fff;
}

.scroll-down i {
    pointer-events: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------- 
   Section & Container Styles 
--------------------------------- */
.section {
    padding: 60px 20px;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* --------------------------------- 
   Button Styles 
--------------------------------- */
.btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #27ae60;
}

/* --------------------------------- 
   Card Styles 
--------------------------------- */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}

.card i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #2ecc71;
}

/* --------------------------------- 
   Contact Form Styles 
--------------------------------- */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #27ae60;
}

/* --------------------------------- 
   Footer Styles 
--------------------------------- */
.footer {
    position: relative;
    width: 100%;
    background-color: #0a1c36;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer .wave {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
    filter: blur(2px) brightness(0.20);
}

.footer .wave#wave1{
    z-index: 1000;
    max-width: 200vw;
    opacity: 1;
    bottom: 0;
    background-size: 1000px 50px;
}

.footer .wave#wave2{
    z-index: 999;
    opacity: 0.8;
    bottom: 10px;
    background-size: 650px 50px;
}

.footer .wave#wave3{
    z-index: 998;
    opacity: 0.7;
    bottom: 20px;
    background-size: 450px 50px;
}

.footer .wave#wave4{
    z-index: 998;
    opacity: 0.6;
    bottom: 20px;
    background-size: 350px 50px;
}




/* --------------------------------- 
   Social Links Styles 
--------------------------------- */
.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* --------------------------------- 
   About Section Styles 
--------------------------------- */
.about {
    /*background: linear-gradient(to bottom right, #8e2de2, #f7b733);*/
    /*background: linear-gradient(to bottom, rgb(77, 73, 73) 15%, rgb(100, 98, 98) 80%, rgb(53, 51, 51));*/
    /*background:rgb(62, 63, 63);*/
    background-image: url("./img/FondoAbout.png");
    background-size: 70rem;
    /*background: linear-gradient(to bottom, rgb(197, 113, 194) 15%, rgba(126, 55, 123, 0.91), rgba(187, 106, 216, 0.8) 80%);*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    max-height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: 0;
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.1rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.about-container{
    display: flex;
    flex-direction: row;
    margin: 5vh;
    align-items: center;
}

.about-text {
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #F0F0F0;
    padding: 15px;
    position: relative;
    text-align: justify;
    background: none;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(247, 240, 240, 0.3); */
    max-height: 40vh;
    max-width: 140vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.about-image {
    display: block;
    position: relative;
    margin: 3vh;
}

.about-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 7px rgb(0, 0, 0);
    object-fit: cover;
}

@media (max-width: 768px) {
    .section.about {
        background-size: cover;
        padding: 20px 10px;
        align-items: center;
        height: auto;
    }

    .about {
        text-align: center;
        align-items: center;
        padding: 20px 10px;
    }

    .about h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .about-text-container{
        position: relative;
        margin: auto;
        max-width: 90%;
        margin-top: -100px;
        margin-bottom: 60px;
    }

    .about-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .about-text,
    .about-image {
        justify-content: center;
        max-width: 100%;
    }

    .about-text {
        font-size: 1rem;
        padding: 0 15px;
        overflow: visible;
        scroll-behavior: smooth;
        box-shadow: none;
        word-wrap: break-word;
        margin-top: 10px;
    }

    .about-image img {
        position: relative;
        border-radius: 10px;
        box-shadow: none;
        width: 100%;
        scale: 0.6;
        margin-bottom: 0;
        margin-top: -10px;
    }
}

/* --------------------------------- 
   Social Icons Styles 
--------------------------------- */
.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #FFD700;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #fff;
    transform: scale(1.2);
}

/* --------------------------------- 
   Why Section Styles 
--------------------------------- */
.section.why {
    background-color: rgb(255, 255, 255);
    /* Fondo blanco */
    padding: 60px 20px;
    scroll-behavior: smooth;
}

.section.why h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    /* Fondo de tarjeta blanco */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    color: #000000;
    position: relative;
    border: 5px solid #000000;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #333333, #000000);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .icon {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;
    width: 14vh;
}

.card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
    background: linear-gradient(to right, #333333, #666666);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}

.card-container:nth-child(2){
    transition-delay: 200ms;
}

.card-container:nth-child(3){
    transition-delay: 400ms;
}

.card-container:nth-child(4){
    transition-delay: 600ms;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 90%;
    }
}


/* --------------------------------- 
   Services Section Styles 
--------------------------------- */
.section.services {
    /* background: linear-gradient(to bottom, #3a3a3a, #1e1e1e); */
    background: rgb(62, 63, 63);
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}

.section.services h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.4);
}

.service-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.service-list:nth-child(2){
    transition-delay: 200ms;
}

.service-list:nth-child(3){
    transition-delay: 400ms;
}

.service-list:nth-child(4){
    transition-delay: 600ms;
}

.service {
    /* background: linear-gradient(to bottom, #ffffff, #d6d6d6); */
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(100, 99, 99, 0.1);
    width: 240px;
    text-align: center;
    color: #333333;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #161616;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin: 15px 0;
}

.service p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}

@media (max-width: 1200px) {
    .service {
        width: 220px;
    }
}

@media (max-width: 992px) {
    .service-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow-x: visible;
        scroll-behavior: smooth;
    }

    .service {
        width: 90%;
    }
}


/* --------------------------------- 
   Plans Section Styles 
--------------------------------- */
.section-plans {
    background: rgb(255, 255, 255);
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}

.section-plans h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    font-weight: 800;
    margin-bottom: 20px;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    perspective: 1000px; /* Añadido para la perspectiva 3D */
}

.plan-card {
    background: #4e4e4e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(90, 85, 85, 0.2);
    width: 300px;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.3s;
    transform-style: preserve-3d; /* Necesario para la rotación 3D */
}

.plan-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.plan-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.plan-card .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    color: #FFD700;
    margin-bottom: 20px;
}

.plan-card .features {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

.plan-card .features li {
    margin-bottom: 10px;
}

.principal-feature {
    font-size: large;
    color: #fbff00;
}

.plan-card .btn {
    background-color: #ff6f61;
    color: #000000;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.plan-card .btn:hover {
    background-color: #ff5e50;
    color: #ffffff;
}

/* Aquí se aplican las propiedades de ocultación y rotación a cada cara */
.frontofCard, .backofCard {
    height: 100%;
    width: 100%;
    backface-visibility: hidden; /* Esto oculta la parte trasera cuando no está en vista */
    border-radius: 10px; /* Mantiene el mismo radio que el contenedor principal */
}

.frontofCard {
    z-index: 2; /* Mantiene la parte frontal visible inicialmente */
    transform: rotateY(0deg); /* Mantiene la parte frontal en su lugar */
}

.backofCard {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg); /* La parte trasera está oculta inicialmente */
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-card.is-flipped {
    transform: rotateY(180deg); /* Esto voltea la carta, mostrando la parte trasera */
}

.plan-card.fitContent{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 1000px;
}



@media (max-width: 768px) {
    .plans-container {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        height: fit-content;
    }

    .plan-card {
        width: 100%;
    }
}



/* --------------------------------- 
   Contact Section Styles 
--------------------------------- */
.section.contact {
    /*background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);*/
    background-color: rgb(62, 63, 63);
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}

.section.contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    animation: contactMe 3s linear infinite;
}
.section.contact p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #e6e6e6;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 120px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
}

.contact-form label {
    color: #000000;
    
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    color: #333333;
    margin-bottom: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888888;
}

.contact-form button.btn {
    background: #ff6f61;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button.btn:hover {
    background: #ff5e50;
    color: #ffffff;
}

@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }
}


/* --------------------------------- 
   Footer Styles 
--------------------------------- */

.footer p,
.footer .credits {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
    display: inline;
}

.footer .credits {
    font-size: 0.9rem;
    margin-left: 20px;
}

.footer .credits a {
    color: #F7B733;
    text-decoration: none;
    font-weight: 600;
}

.footer .credits a:hover {
    text-decoration: underline;
}

/* --------------------------------- 
   Ready Section Styles 
--------------------------------- */
.section.ready {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    padding: 40px 20px;
}

.ready-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section.ready h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.section.ready p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #666666;
}

.ready-paragraph {
    padding: 5vh;
}

.section.ready .btn {
    background-color: #333333;
    color: #ffffff;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    border: 2px solid #333333;
}

.section.ready .btn:hover {
    background-color: #ffffff;
    color: #333333;
    transform: translateY(-2px);
    border: 2px solid #333333;
}

.section.ready .btn:active {
    background-color: #666666;
    color: #ffffff;
    transform: translateY(0);
}

.ready-video {
    margin-top: 20vh;
    display: inline-block;
    padding: 0px;
    border: 5px solid #333333;
    border-radius: 15rem;
    overflow: hidden;
    scroll-behavior: smooth;
}

.ready-video video {
    margin: auto;
    margin-bottom: 0rem;
    display: block;
    border-radius: 50rem;
    width: 100%;
    height: auto;
}

/* --------------------------------- 
   Back to Top Button Styles 
--------------------------------- */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    border-radius: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.back-to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.back-to-top:hover {
    background-color: #051646;
    transform: scale(1.1);
    pointer-events: auto;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
        right: 15px;
        padding: 8px;
        font-size: 1rem;
    }
}